@use '../../../shared/styles/global.scss' as *;

.inputContainer{
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: $inter;
  font-weight: 600px;
  .inputLabel{
    font-size: 13px;
  }
  .inputClassName{
    font-size: 14px;
    color: $azure12;
    border: 1px solid $azure84;
    border-radius: 9px;
    padding: 12px 13px;
    width: 362px;
    height: 45px;
    &::placeholder {
      color: $grey462;
      font-size: 14px;
    }
  }
}

.error{
  color: $danger;
  font-family: $inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.35;
}