@use '../shared/styles/global.scss' as *;

.authWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $grey91;
  border-radius: 16px;
  width: 392px;
  min-height: 588px;
  padding-bottom: 67px;
}

.logoContainer {
  margin-top: 32px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  padding: 7px 0px;
  width: 46px;
  height: 46px;
  background-color: $azure52;
  justify-content: center;
  align-items: center;
  color: white;
  .logoText {
    font-size: 24px;
  }
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  .welcomeText {
    font-family: $inter;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
  }
  .welcomeDesc {
    font-family: $inter;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: $grey46;
  }
}

.choiceContainer {
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  border-radius: 10px;
  padding: 4px;
  width: 326px;
  height: 53px;
  background: $grey953;
}

.choiceButton{
  border-radius: 8px;
  padding: 11px;
  width: 157px;
  height: 40px;
  text-align: center;
  font-family: $inter;
  font-size: 14px;
  font-weight: 700;
  color: $azure12;
  &[aria-pressed='true'] {
    box-shadow: 0 1px 3px 0 rgba(16, 24, 40, 0.12);
    background: white;
  }
}
