@use '../shared/styles/global.scss' as *;

.wrapperCatalog {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 273px);
  gap: 20px;
}