@use '../shared/styles/global.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 600px;
  width: 100%;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.identityContainer,
.actionContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatarContainer {
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 14px;
  width: 60px;
  height: 60px;
  background-color: $azure12;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .avatarMok {
    font-family: $inter;
    font-weight: 700;
    font-size: 26px;
    color: white;
  }
}

.nameContainer {
  display: flex;
  flex-direction: column;

  .profileName {
    font-family: $inter;
    font-weight: 700;
    font-size: 26px;
    color: $azure12;
  }

  .profileDesc {
    display: flex;
    font-family: $inter;
    font-weight: 400;
    font-size: 13px;
    color: $grey46;
    gap: 3px;
  }
}

.editButton {
  text-align: center;
  width: 150px;
}

.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  border-bottom: 1px solid $grey91;
}

.navButton {
  font-family: $inter;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: $azure65;
  &[aria-pressed='true'] {
    border-bottom: 2px solid $azure52;
    padding-bottom: 12px;
    color: $azure12;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

